<div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-lg-6 col-sm-7 col-12 ">
          <label for="" class="form-label">Agregar Gif</label>
          <div class="mb-3 input-group">
          <input
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder=""
            [(ngModel)]="gifUrl"
          />
          <div class="input-group-append">
              <button (click)="addGif()" class="btn btn-dark" type="button">Anadir</button>
          </div>
        </div>
      </div>
      <div class="col">      
      </div>
    </div>
  </div>
